<div class="blog-container">

<div class="blog-cards-container">
    <div class="blog-card">
        <div class="blog-card__image"></div>
        <div class="blog-card__author">
            <div class="blog-card__author-line"></div>
            <div class="blog-card__author-name"></div>
            <div class="blog-card__author-bullet"></div>
            <div class="blog-card__author-category"></div>
        </div>
        <div class="blog-card__title"></div>
        <div class="blog-card__button">
            <div class="blog-card__button-text"></div>
            <div class="blog-card__button-arrow"></div>
        </div>
    </div>
    <div class="blog-card">
        <div class="blog-card__image"></div>
        <div class="blog-card__author">
            <div class="blog-card__author-line"></div>
            <div class="blog-card__author-name"></div>
            <div class="blog-card__author-bullet"></div>
            <div class="blog-card__author-category"></div>
        </div>
        <div class="blog-card__title"></div>
        <div class="blog-card__button">
            <div class="blog-card__button-text"></div>
            <div class="blog-card__button-arrow"></div>
        </div>
    </div>
    <div class="blog-card">
        <div class="blog-card__image"></div>
        <div class="blog-card__author">
            <div class="blog-card__author-line"></div>
            <div class="blog-card__author-name"></div>
            <div class="blog-card__author-bullet"></div>
            <div class="blog-card__author-category"></div>
        </div>
        <div class="blog-card__title"></div>
        <div class="blog-card__button">
            <div class="blog-card__button-text"></div>
            <div class="blog-card__button-arrow"></div>
        </div>
    </div>
</div>

</div>