@import "main.scss";

.banner {
    background-image: url('../../public/images/Banner/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 850px;
    display: flex;
    align-items: center;
    color: white;
    text-align: left;
    position: relative;

    @media screen and (max-width: 425px) {
        height: 500px;
    }

    .banner__text {
        padding: 40px;
        text-transform: capitalize;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 30px;
        margin-left: 50px;

        @media screen and (max-width: 770px) {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    h1 {
        @include heading-font-large;
        margin: 20px;
        @media screen and (max-width: 1440px) {
            font-size: 64px;
            margin: 20px;
            line-height: 60px;
        }
        @media screen and (max-width: 1440px) {
            font-size: 36px;
        }
    }

    span {
        @include text-font-medium;
        font-size: 24px;
        color: white;
        text-align: left;
        text-transform: none;

        @media screen and (max-width: 1440px) {
            font-size: 16px;
        }
    }

    .banner__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        gap: 5px;
        width: 192px;
        height: 60px;
        @include heading-font-small;
        color: white;
        text-align: center;
        text-transform: capitalize;
        background: #FB5B11;
        border: none;
        cursor: pointer;

        .arrow-icon {
            transition: transform 0.3s;
        }

        &:hover .arrow-icon {
            transform: rotate(140deg);
        }
    }

    .tractor {
        position: absolute;
        left: 50%;
        bottom: -155px;
        transform: translateX(-50%);
        width: 535px;
        height: auto;
        z-index: 10;
        transition: width 0.5s ease;

        img {
            width: 100%;
            height: auto;
        }

        @media screen and (max-width: 1024px) {
            width: 435px;
            bottom: -120px;
        }
    
        @media screen and (max-width: 768px) {
            width: 335px;
            bottom: -90px;
        }
    
        @media screen and (max-width: 425px) {
            width: 235px;
            bottom: -70px;
        }
    }
}
