@import "main.scss";

#reviews {
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 60px;
}

.reviews {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.reviews__main {
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    margin-top: 7%;
}

.reviews__swiper-slide {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between;
}

.reviews__h2 {
    width: 60%;
    @include heading-font-large;
    color: black;
    line-height: 62px;
    font-size: clamp(30px, 3vw, 52px);
    text-align: left;
    margin-bottom: 4px;
    margin-top: 0px;
    align-self: flex-start;
}

.reviews__h5 {
    display: flex;
    align-items: center;
    @include heading-font-small;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: flex-start;
}

.testimonial-quate {
    width: auto;
    height: auto;
    margin-right: 10px;
}

.reviews__swiper-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#testimonial-text {
    width: auto;
    height: auto;
    @include text-font-medium;
    font-size: 30px;
    line-height: 40px;
}

#testimonial-name {
    width: auto;
    height: auto;
    @include heading-font-small;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 0;
}

#testimonial-position {
    width: auto;
    height: auto;
    @include text-font-medium;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 0;
    margin-bottom: 0;
}

.reviews__line {
    width: auto;
    height: auto;
    padding-right: 10px;
}

.reviews__aside {
    width: auto;
    height: 100%;
    position: absolute;
    left: 0;

    @media screen and (max-width: 1440px) {
        display: none;
    }
}

.reviews__img {
    width: auto;
    height: 37%;
}

.reviews__testimonial {
    width: 85%;
    height: auto;
}

.testimonial-account {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.reviews__text-content {
    width: 95%;
    height: auto;
}

.reviews__circle-images {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reviews__profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.reviews__profile-photo:hover {
    width: 50px;
    height: 50px;
    transform: scale(1.5);
}

.reviews__profile-photo--active {
    width: 50px;
    height: 50px;
    border-color: orange;
    transform: scale(1.5);
}

.reviews__pagination {
    width: 2px;
    height: auto;
    position: relative;
    background-color: gray;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews__pointer {
    width: 0;
    height: 2px;
    position: absolute;
    left: 3px;
    padding-right: 30px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid gray;
    top: 0;
    transition: top 0.3s ease;
}
