@import './main.scss';

.sliderTheBestServices {
    max-width: 720px;
    width: 100%;
    margin: auto;
    overflow-x: scroll;
    white-space: nowrap;
    user-select: none;

    @media (max-width:1200px) {
        max-width: 520px;
    }

    @media (max-width:900px) {
        max-width: 380px;
    }
}

.sliderTheBestServices::-webkit-scrollbar {
    display: none;
}

.slide {
    display: inline-block;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @media (max-width:1200px) {
        width: 230px;
        height: 290px;
    }

    @media (max-width:900px) {
        width: 160px;
        height: 190px;
    }
}

.slide>.text {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 300px;
    left: 25px;
    width: 200px;

    @media (max-width:1200px) {
        top: 140px;
        left: 15px;
    }

    @media (max-width:900px) {
        top: 90px;
        left: 5px;
        width: 130px;
    }
}

.slider-title{
    font-family: $first-family;
    font-weight: 600;
}

.slider-sub{
    font-family: $second-family;
    font-weight: 400;
}

.text p {
    display: block;
    color: white;
    text-shadow: 0px 0px 5px black;
    overflow: hidden;
    margin: 5px;
}

.slide.visible>.text {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s linear;
}

.slide.hidden>.text {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.1s, opacity 0.1s linear;
}

.text>.title {
    font-size: clamp(9px,1.3vw,20px);
    text-decoration: underline;
}

.text>.sub {
    font-size: clamp(7px,1.2vw,15px);
    text-wrap: wrap;
}