@import "main.scss";

#videoBlock{
  height: 65vh;
  padding-top: 50px;
  padding-bottom: 60px;
}
.videoBlock {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    position: relative; 
    height: 100%;
  }
  
  .videoBlock__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto; 
   
  }
  .videoBlock__h2 {
    @include heading-font-large;
    color: black;
    
    line-height: 62px;
    margin-bottom: 4px;
    margin-top: 0px;
    font-size: clamp(30px, 3vw, 52px);
  }
  .videoBlock__h5{
    display: flex;
    align-items: center;
    @include heading-font-small;
    margin-top: 0px;
    margin-bottom: 0px;
    
  }
  .videoBlock__line{
  padding-right: 10px;
  }
  
  .videoBlock__aside {
    position: absolute;
    right: 0; 
    top: 0; 
    height: 100%;
    @media screen and (max-width: 1440px) {
      display: none;
    }

  }
  .videoBlock__img{
    height: 60%;
  }

 
  
  .videoBlock__tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%;
  }

  .videoBlock__tabs button {
    flex: 1; 
    height: 50px;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid rgb(85, 85, 85);
    background-color: #ffffff00;
  }
  
   iframe {
    width: 100%;  
    height: 600px;
   
  }
  .videoBlock__content {
    height: 70%;
    width: 100%;
    text-align: center;
  }

  .videoBlock__tabs button.active {
    background-color: rgb(251, 91, 17);
    border: none;
    color: white;
  }
  
  
  
  

 /*  спиннер */
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px; 
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid rgb(251, 91, 17); 
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 10; 
    display: none; 
  }
  
  /* Анимация  спиннера */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  