@import './main.scss';

.whatAbout {
    height:44vh;
    display: flex;
    justify-content: center;



    &__block{
        display: flex;
        justify-content: space-between;
        max-width: 80%;
        width: 100%;

    @media (max-width:1200px) {
        flex-direction: column;
    align-items: center;
    }

    @media (max-width:900px) {
        margin-left: 10%;
    }

    }

    &__block-span {
        color: red;
    }

    &__block-teame{
        max-width: 50%;
        width: 100%;
        padding-left: 8%;

    }

    &__block-description {
        max-width: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__block-chapter{
        font-family: $first-family;
        font-weight: 600;
        font-size: clamp(9px, 1.3vw ,16px);
    }

    &__block-descriptionText{
        font-size: clamp(9px, 1.3vw ,16px);
        font-family: $second-family;
        font-weight: 400;
        color: #555555;
    }

    &__block-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__block-portrait {
        font-family: $first-family;
        font-weight: 600;
        font-size: clamp(20px,2vw,32px);
        margin-bottom: 0;
    }

    &__reflection {
        margin-top: 0;
        font-family: $first-family;
        font-weight: 600;
        font-size: clamp(20px,2vw,32px);
        color: rgba(105, 104, 104, 0.123);
        transform: scaleY(-1);
        margin-top: -10%;
        // filter: blur(1px);
        // overflow: hidden;
        // transform: translate(0, -10%);
    }

    &__block-btn{
        font-family: $first-family;
        font-weight: 600;
        font-size: clamp(9px, 1.3vw ,16px);
        color: white;
        background-color: #fb5b11;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42%;
    }

    &__block-btnImg{
        transform: rotate(140deg);
        max-width: 23%;
        width: 100%;
        margin-left: 2%;
    }

    &__block-title{
        font-family: $first-family;
        font-weight: 600;
        font-size: clamp(24px, 4vw,52px);
    }

    &__architecture{
        width: clamp(100px, 14vw, 286px);
        position: absolute;
        right: 0;

        @media (max-width:900px) {
            display: none;
        }
    }
}